@model CurriculumModel
@{
    ViewData["Title"] = "Curriculum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            <h1 class="sitename">Murilo</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#hero" class="active">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#resume">Currículo</a></li>
                <li><a href="#contact">Contate-me</a></li>
            </ul>
        </nav>
        <div class="header-social-links">
            <a href="https://github.com/mubdias" class="bi-github"><i class="bi bi-github-x"></i></a>
            <a href="https://www.linkedin.com/in/murilo-b-15854711a/" class="bi-linkedin"><i class="bi linkedin"></i></a>
        </div>
    </div>
}

<section id="hero" class="hero section dark-background">

    <img src="~/img/tech-bg.jpeg" alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>Murilo B. Dias</h2>
        <p>Comprometido em ser referência naquilo que gosto e conheço, transformo problemas em soluções.</p>
        <a href="#about" class="btn-scroll" title="Scroll Down"><i class="bi bi-chevron-down"></i></a>
    </div>

</section>

<section id="about" class="about section">

    <div class="container section-title" data-aos="fade-up">
        <span class="description-title">Sobre mim</span>
        <h2>Sobre mim</h2>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-8 content justify-content-center">
                <div class="row mb-5" style="justify-self: center">
                    <h2>Estágio em desenvolvimento &amp; Desenvolvedor .NET</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>LinkedIn:</strong>
                                <span><a href=" https://www.linkedin.com/in/murilo-b-15854711a/"
                                        target="_blank">https://www.linkedin.com/</a></span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Cidade:</strong> <span>Santo André, SP</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Formação:</strong> <span>Bacharel(Em andamento)</span></li>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="py-3">
                    Sou estudante de Ciência da Computação com foco no desenvolvimento web e de softwares, como também,
                    no aperfeiçoamento da qualidade. Possuo experiência com desenvolvimento de aplicações web e garantia
                    da qualidade em robôs de atendimento como URA, BOT e Webchat.

                    Me considero proativo, persistente e consistente no aprendizado de novas tecnologias e ferramentas,
                    sempre disposto a enfrentar novos desafios!
                </p>
            </div>
        </div>

    </div>

    <section id="resume" class="resume section">

        
        <div class="container section-title" data-aos="fade-up">
            <span class="description-title">Meu currículo</span>
            <h2>Meu currículo</h2>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Sumary</h3>

                    <div class="resume-item pb-0">
                        <h4>Murilo Barberini Dias</h4>
                        <ul>
                            <li>Santo André, SP, 09090640</li>
                            <li>(11) 97101-0641</li>
                            <li>murilo_barberini@hotmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Formação</h3>
                    @foreach (var education in Model.Educations)
                    {
                        <div class="resume-item">
                            <h4>Bacharelado em @education.Course</h4>
                            <h5>@education.DurationBegin - @education.DurationEnd</h5>
                            <p><em>@education.Institution</em></p>
                        </div>
                    }

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="resume-title">Experiência profissional</h3>
                    @foreach (var experience in Model.Experiences)
                    {
                        <div class="resume-item">
                            <h4>@experience.Position</h4>
                            <h5>@experience.DurationBegin - @experience.DurationEnd</h5>
                            <p><em>@experience.Location</em></p>
                            <ul>
                                @experience.Description
                                <li>Lead in the design, development, and implementation of the graphic, layout, and
                                    production communication materials</li>
                                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of
                                    the project. </li>
                                <li>Supervise the assessment of all graphic materials in order to ensure quality and
                                    accuracy of the design</li>
                                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000
                                </li>
                            </ul>
                        </div>
                    }
                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="resume-title">Projetos</h3>
                    @foreach (var projects in Model.Project)
                    {
                        <div class="resume-item">
                            <h4>@projects.Title</h4>
                            <h5>@projects.DurationBegin - @projects.DurationEnd</h5>
                            <p>@projects.Description</p>
                        </div>
                    }
                </div>

            </div>

        </div>

    </section>

    <section id="contact" class="contact section">

        <div class="container section-title" data-aos="fade-up">
            <span class="description-title">Contate-me</span>
            <h2>Contate-me</h2>
        </div>

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 justify-content-center" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center info-item-borders"
                        style="border-left: 0">
                        <i class="bi bi-telephone"></i>
                        <h3>Ligue:</h3>
                        <p>+55 (11) 97101-0641</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-envelope"></i>
                        <h3>Mande um e-mail:</h3>
                        <p>murilo_barberini@hotmail.com</p>
                    </div>
                </div>

            </div>

            <form action="forms/contact.cs" method="post" class="php-email-form" data-aos="fade-up"
                data-aos-delay="300">
                <div class="row gy-4">

                    <div class="col-md-6">
                        <input type="text" name="name" class="form-control" placeholder="Seu nome" required="">
                    </div>

                    <div class="col-md-6 ">
                        <input type="email" class="form-control" name="email" placeholder="Seu e-mail" required="">
                    </div>

                    <div class="col-md-12">
                        <input type="text" class="form-control" name="subject" placeholder="Assunto" required="">
                    </div>

                    <div class="col-md-12">
                        <textarea class="form-control" name="message" rows="6" placeholder="Mensagem"
                            required=""></textarea>
                    </div>

                    <div class="col-md-12 text-center">
                        <div class="loading">Carregando...</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Sua mensagem foi enviada com sucesso. Obrigado!</div>

                        <button type="submit">Enviar</button>
                    </div>

                </div>
            </form>

        </div>

    </section>

</section>

@section Footer
{
    <div class="container">
        <h3 class="sitename">Murilo B. Dias<br></h3>
        <div class="social-links d-flex justify-content-center">
            <a href="https://github.com/mubdias"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/murilo-b-15854711a/"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="container">
            <div class="copyright">
                <span>Copyright</span> <strong class="px-1 sitename">Murilo</strong> <span>All Rights Reserved</span>
            </div>
        </div>
    </div>
}